html {
    display: block;
background: black;
color: white;
/* text-align: center; */
margin: auto;
width: 650px;
font-size: 20px;
}

h1 {
    text-align: center;;
}

#q {
    color: gray;
    text-align: right;
}

#s {
    color: #5FE88D;
    text-align: left;
}

#img{
    text-align: center;
    padding-top:25px;
    padding-bottom: 25px;
    display: block;
    margin: auto;

}

#ness{
    text-align: center;

}